
nav{
	height: 50px;
	background: #777;
	
}
ul{
	margin: 0px;
	padding: 0px;
}

ul .logo{
	float: left;
	padding-left: 20px;
	font-size: 20px;
	font-weight: 900;
}

ul li{
	display: inline-block;
    float: right;
    line-height: 50px;

    padding-right: 20px
    
}
ul li a{
    text-decoration: none;
    line-height: inherit;
    display: inline-block;
    height: inherit;
    width: 50px
}
	
#banner{
	width: auto;
	height: 800px;
	background-color: #ccc
}

.inner{
	max-width: 300px;
	text-align: center;
	margin: 0px auto;
	padding-top: 200px
}

#banner .inner h1{
	margin: 0px;
	max-width: 300px;

}

#but{
    width:180px;
    height:50px;
}


#banner .inner .more{
	padding-top: 200px;
}

#banner .inner .more a{
	text-decoration:none;
	font-weight: 900;
	letter-spacing: 3px

}

.content{
    top: 0px;
    height: 800px
} 

.green{
	text-align: center;
	background-color: #089D80;
	color: #fff;
	overflow: hidden;
}
.wrapper{
	max-width: 1080px;
	margin: 0 auto;
	padding: 100px 0
}

.green  .hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
    background-color: #06614f;
    width: 60%

}

.grey{
	background-color: #081C9D;
	float: top;
	overflow: hidden;
}

.sub-heading{
	font-size:18px ;

}

.icon-group{
	margin-top: 20px
}
.green .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	border:2px solid #088c72;
	transform: rotate(45deg);
	margin: 20px

}